<launch>

<param name="/use_sim_time parameter" value="True" type="bool"/>
<param name="/phidgets_daq/update_rate_ms" value="2" type="int"/>

<param name="/phidgets_daq/interpreter_path" value="/home/caveman/catkin_ws/src/phidgets_daq/demo/phidgets_daq_interpreter_functions.py" />

<node name="data_interpreter" pkg="phidgets_daq" type="daq_interpreter.py" />
<node name="data_acquisition" pkg="phidgets_daq" type="daq.py" />


</launch>
